.wrapper {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: hsl(50, 100%, 72%);

    .logo {
        height: 100%;
        object-fit: contain;
    }
}

.hidden-label .p-button-label {
    display: none;
  }
  
  /* Đảm bảo các nút vẫn giữ kích thước */
  .hidden-label .p-button {
    padding: 0; /* Loại bỏ padding nếu cần thiết */
  }
.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login {
  margin-right: 40px;
}

.login:hover {
  cursor: pointer;
}