<div (click)="showDialogSearch()">
    <i class="pi pi-filter" style="font-size: 20px;"></i>
</div>


<p-dialog [header]="header" [modal]="true" [(visible)]="display" [style]="{ height: '35rem', width: '35rem'}">
    <div class="search-content">
        <div style="display: flex; margin-bottom: 30px;">
            <div style="width: 20%;">
                <label for="name" class="font-semibold w-6rem" style="width: 30px;">Name: </label>
            </div>
            <div style="width: 80%;">
                <input type="text" pInputText [(ngModel)]="searchFilter.name" style="width: 100%;"/>
            </div>
        </div>

        <div style="display: flex; margin-bottom: 30px;">
            <div style="width: 20%;">
                <label for="status" class="font-semibold w-6rem">Status: </label>
            </div>
            <div style="width: 80%;">
                <p-dropdown [options]="statusOptions" optionLabel="name"
                    placeholder="Select a Status" (onChange)="onStatusChange($event)">
                </p-dropdown>

            </div>
        </div>

        <div style="display: flex; margin-bottom: 30px;">
            <div style="width: 20%;">
                <label for="price" class="font-semibold w-6rem">Price: </label>
            </div>

            <div style="width: 80%; display: flex; justify-content: space-between;">
                <div style="width: 40%;">
                    <input type="number" pInputText [(ngModel)]="searchFilter.rangePrice[0]" style="width: 100%;" readonly/>
                </div>
                <div style="display: flex; align-items: center;">
                    -
                </div>
                
                <div style="width: 40%;">
                    <input type="number" pInputText [(ngModel)]="searchFilter.rangePrice[1]" style="width: 100%" readonly/>
                </div>
            </div>

        </div>
        
        <div style="display: flex; margin-bottom: 30px;">
            <div style="width: 20%;"></div>
            <div style="width: 80%;">
                <p-slider [(ngModel)]="searchFilter.rangePrice" [min]="0" [max]="10000" [step]="100" [range]="true" />
            </div>
            
        </div>

        <div style="display: flex; margin-bottom: 30px;">
            <div style="width: 20%;">
                <label for="category" class="font-semibold w-6rem">Category: </label>
            </div>
            <div style="display: flex; width: 80%;">
                <p-dropdown [options]="categoryOptions" optionLabel="name" 
                [(ngModel)]="searchFilter.category_id" 
                optionLabel="name"
                optionValue="id"
                placeholder="Select a Category" 
                >
                
                </p-dropdown>

            </div>
        </div>

        <div style="display: flex; margin-bottom: 30px; margin-top: 30px;">
            <div style="width: 20%;"> 
                <label for="rating" class="font-semibold w-6rem">Rating: </label>
            </div>
            <div style="width: 80%;">
                <p-rating [(ngModel)]="searchFilter.rating" [stars]="5" />
            </div>
        </div>
        <div class="search-button">
            <p-button label="Search" (onClick)="onSearch()" />
        </div>

    </div>



</p-dialog>