<div class="product-detail">
    <div
        class="header"
        style="width: 100%; height: 20%; background-color: #ffde59"
    >
        <span style="float: left; margin: 10px; font-weight: bold"
            >Name: {{ product.name }}</span
        >
        <span style="float: right; margin: 10px; font-weight: bold"
            >Available: {{ product.quantity }}</span
        >
    </div>
    <div class="content" style="width: auto; height: 20%; background-color: lightgray; margin: 10px; text-align: center;">
        <span style="margin: 10px; display: inline-block;">Description</span>
    </div>
    <div class="content" style="width: auto; height: 45%; margin: 10px;">
        <span style="width: 100%; height: 100%; border-color: lightgray; border: 1px solid lightgrey;
        padding: 5px; display: inline-block;">{{product.description}}</span>
    </div>
</div>
