<div class="side-bar">
   
    <p-sidebar
        [(visible)]="sidebarVisible"
        position="right"
        showCloseIcon="false"
    >
            <div class="side-bar-custom" style="width: 6%; height: 100%;">
                <div class="shopping-cart" (click)="sidebarOnClick()">
                    <i
                        class="pi pi-shopping-cart pi-shopping-cart-color"
                        style="font-size: 20px; margin-top: 10px;"
                    ></i>
                </div>
                <div class="heart" (click)="sidebarVisible = true">
                    <i class="pi pi-heart" style="font-size: 20px"></i>
                </div>
                <div class="discount" (click)="sidebarVisible = true">
                    <img
                        src="assets\images\icons\discount.png"
                        class="images"
                    />
                </div>
                <div class="live-stream" (click)="sidebarVisible = true">
                    <img src="assets\images\icons\live.png" class="images" />
                </div>
                <div class="cart-number" *ngIf="cart.length > 0">{{cart.length}}</div>
            </div>
            <div class="review-content" style="height: 100%;">
                <app-cart-review></app-cart-review>
            </div>
    </p-sidebar>
    <div class="shopping-cart" (click)="sidebarVisible = true">
        <i
            class="pi pi-shopping-cart pi-shopping-cart-color"
            style="font-size: 20px"
        ></i>
    </div>
    <div class="heart" (click)="sidebarVisible = true">
        <i class="pi pi-heart" style="font-size: 20px"></i>
    </div>
    <div class="discount" (click)="sidebarVisible = true">
        <img src="assets\images\icons\discount.png" class="images" />
    </div>
    <div class="live-stream" (click)="sidebarVisible = true">
        <img src="assets\images\icons\live.png" class="images" />
    </div>
    <div class="cart-number-2" *ngIf="cart.length > 0">{{cart.length}}</div>
</div>
